<!-- This website is open source: https://github.com/ -->
<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

<!--link rel="alternate" type="application/rss+xml" title="Code, Design &amp; Coffee - Master Feed" href="/">
<link rel="alternate" type="application/rss+xml" title="Code, Design &amp; Coffee - Decafinated Feed" href="/"-->

<script async defer src="https://buttons.github.io/buttons.js"></script>
{% include analytics.html %}