<div class="footer">
  <div class="wrappper">
    <div class="sidebar">
      <img src="/assets/images/2016.jpg">
    </div>
    <div class="content">
      <p><i>Code, Design &amp; Coffee</i> is written and produced by me, Toto Tvalavadze, from beautiful city of <a href="https://en.wikipedia.org/wiki/Kanazawa">Kanazawa</a> in Japan. I’m independent iOS app designer and developer, and wannabe amateur triathlete. I also love coffee.</p>
      <p>For my services and consulting work, please visit <a href="http://totocaster.com/work">totocaster.com/work</a>.</p>
      <p><a class="twitter-follow-button" href="https://twitter.com/totocaster" data-size="large">Follow @totocaster</a></p>
      <div class="sosume">
        <hr/>
        <p>2008–{{ site.time | date: '%Y' }} &copy; Copyright Tornike (Toto) Tvalavadze <span>and</span> Code, Design &amp; Coffee LLC.</p>
        <p>Version 5.1 &sdot; <a href="/acknowledgments-privacy">Acknowledgments &amp; Privacy</a></p>
      </div>
    </div>
  </div>
</div>