---
# Microblog styles and layout.
---

@import url("https://use.typekit.net/ovx8qqf.css");

@mixin regular-text() {
  font-family: "arno-pro", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 27px;
}

@mixin byline-text() {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-size: 11px;
  text-transform: uppercase;
}

@mixin headline-text($size) {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: $size;
}

body {
  margin: 0;
}

.wrappper {
  margin: 20px auto 20px auto;
  width: 540px;
}

section.microblog { 
  article {
    h1 {
      @include headline-text(16px);
      color: black;
      a { 
        text-decoration: none;
      }
    }

    abbr {
      font-variant: small-caps;
      font-feature-settings: "c2sc";
      cursor: help;
    }

    
    margin-bottom: 50px;
    color: #333;
    
    a {
      color: black;
    }

    p, blockquote, li {
      font-kerning: normal;
      font-variant-ligatures: common-ligatures contextual;
      font-variant-numeric: oldstyle-nums proportional-nums;
      -moz-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
      -ms-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
      font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
      @include regular-text();
      text-rendering: optimizeLegibility;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;

      a.footnote {
        color: black;
        text-decoration: none;
      }
    }
    p abbr,
    p span {
      font-kerning: normal;
      font-variant-ligatures: common-ligatures contextual;
      font-variant-numeric: oldstyle-nums proportional-nums;
      font-variant-caps: all-small-caps;
      -moz-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
      -ms-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
      font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
    }

    blockquote {
      padding: 0 20px;
      margin: 20px 0;
      border-left: 4px solid rgb(231, 229, 223);
    }

    .footnotes {

      a.reversefootnote {
        color: black;
        text-decoration: none;
      }
    }

    .byline {
      @include byline-text();
      color: rgb(148, 144, 132);
      margin: 0;
      a { 
        color: rgb(148, 144, 132);
      }
    }

    img {
      width: 100%;
    }
  }
}
