<!DOCTYPE html>
  <html>
    <head>
      {% include meta.html %}
    </head>
    <body>
  <div class="background">
    <div class="wrappper">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="content">
        <nav class="mobile">
          <a href="/">Home</a> &sdot; <a href="#mobile-menu">Scroll to Menu</a>
        </nav>
        {{ content }}
        <div class="mobile mobile-menu" id="mobile-menu">
          {% include menu.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
</html>
